.chat-input{

display:flex;

gap:10px;

padding:20px;

}

.chat-input input{

flex:1;

padding:14px;

border-radius:15px;

border:none;

background:#2b2b2b;

color:white;

}

.chat-input button{

padding:14px 20px;

border:none;

border-radius:15px;

background:#00C853;

color:white;

cursor:pointer;

}